
.hexagon {
  width: 140px;
  height: 90px;
  background: linear-gradient(155.89deg, #FFCC21 8.26%, #FF963C 91.18%);
  position: relative;
  margin: 10px auto;
}

.hexagon:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: -25px;
  left: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 25px solid #ffb134;
  margin: 0 auto;
}

.hexagon:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -25px;
  left: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 25px solid #ffb134;
}

.ratio-box {
  width: 100%;
  padding-top: 56.25%;
}

.content-text-column{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
